            <div class="flex items-center gap-3">
                <button
                    class="px-5 py-2 text-sm font-bold border-2 border-[#f0f3f5] dark:border-white/10 rounded-lg hover:bg-[#f0f3f5] dark:hover:bg-white/5 transition-colors" (click)="goToLogin()">Login</button>
                <button  class="px-5 py-2 text-sm font-bold bg-primary text-white rounded-lg hover:opacity-90 transition-opacity shadow-md shadow-primary/20" (click)="goToRegister()">SignUp </button>
            </div>