    <div class="relative flex-1 max-w-xs">
        <span class="absolute left-3 top-1/2 -translate-y-1/2 text-[#5e808d] material-symbols-outlined">sort</span>
        <select
            class="w-full h-11 pl-10 pr-8 rounded-lg border border-[#dae3e7] dark:border-gray-600 bg-white dark:bg-gray-800 text-[#101618] dark:text-white focus:outline-none focus:border-primary focus:ring-1 focus:ring-primary text-sm appearance-none cursor-pointer">
            @for (item of sort; track $index) {
            <option [value]="item.value">{{item.name}}</option>

            }

        </select>
        <span
            class="absolute right-3 top-1/2 -translate-y-1/2 text-[#5e808d] material-symbols-outlined pointer-events-none">expand_more</span>
    </div>